@import './ImageCarouselFirst/ImageCarouselFirst' 

.services-inner__main-header
  padding: 200px 6vw 0 6vw
  +media-breakpoint-down(md)
    padding-top: 120px

.main-screen-slider
  position: relative
  overflow: hidden