.main-screen__subtitle
  color: $gray-600
  font-size: 12px
  font-weight: 600
  display: inline-block
  margin-bottom: 80px
  text-transform: uppercase
  +media-breakpoint-down(md)
    margin-bottom: 40px

.main-screen__title
  color: $black
  font-size: 44px
  font-weight: 600
  line-height: 60px
  max-width: 75%
  margin: 0
  white-space: pre-line
  +media-breakpoint-down(xs)
    font-size: 24px
    line-height: 45px
  +media-breakpoint-down(md)
    white-space: normal

.main-screen__header
  padding-bottom: 120px
  +media-breakpoint-down(md)
    padding-bottom: 70px

.main-screen__number
  margin-right: 20px
